/*Посилання на соцмережі*/

/*Team*/

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    
@include mq (desktop) {
    margin-bottom: 30px;  
} 
}

.socials-item:not(:last-child) {
    margin-right: 10px;
}

.socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: var(--main-bg-cl);
    color: var(--icons-cl);
    border-radius: 50%;
}

.socials-link:hover,
.socials-link:focus {
    color: var(--main-bg-cl);
    background-color: var(--accent-cl);
}

.socials-icon {
    display: block;
    fill: currentColor;
    margin-bottom: 0;
}

/*Footer*/


.social-icon {
@include mq (desktop) {
    margin-left: 70px;
    margin-right: 10px;
}

@include mq (tablet-only) {
            margin-right: auto;
           /* display: flex;*/
        }
}


.social-icon .title{

    margin-bottom: 20px;
    text-align: left;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;

   @include mq (mobile-only){
    display:block;
    text-align: center;
   }
}

.social-icon .link {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--main-bg-cl);
}

.social-icon .link:hover,
.social-icon .link:focus {
    background-color: var(--accent-cl);
}