/* Clients icons */




.clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icons-cl);
    border-radius: 4px;
    transition: border-color var(--fast-anim) var(--timing-function);

   @include mq (mobile-only) {
    width: 100%;
}

   @include mq (tablet-only) {
    
    width: 100%;
}

&:hover {
        border-color: var(--accent-cl);

        
    }

}

.clients__icon {
    fill: var(--icons-cl);
    transition: fill var(--fast-anim) var(--timing-function);
}

.clients__link:focus .clients__icon {
    fill: var(--accent-cl);
}

.clients__link:hover .clients__icon {
        fill: var(--accent-cl);
}

.clients__link:hover,
.clients__link:focus {
    border: solid 1px var(--accent-cl);
    fill: var(--accent-cl);
}