/*Studio header*/
.header {
    border: 1px solid var(--header-border-cl);
    position: relative;
}

.header__container {
    display: flex;

    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 15px;
    
}

/*Основна навігація сайту*/

.navigation__list {
    display: flex;
    align-items: center;
}

 @include mq (mobile-only) {

.navigation__list {
        display: none;
     }

.header__group {
        display: none;
    }
 }

.navigation__item {

    margin-right: 50px;

    color: var(--secondary-txt-cl);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;

    &:last-child {
        margin-right: 0;
    }

}

.navigation__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    &.current::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--accent-cl);
    }

    &:hover {
        color: var(--accent-cl);
    }

    &:focus {
        color: var(--accent-cl);
    }

    &:current {
        color: var(--accent-cl);
    }

}



